<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Invalid User</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body id="invalidBody">

    <h1 class="title">Invalid Username or Password</h1>
    <p>Please enter valid login information.</p>
    <p>or</p>
    <p>Create a new account</p>
    <a href="/">Go back to Home</a>

</body>

</html>