<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MoviesForYou!</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body id="movieBody">

    <h1 class="title"><u>Movie Name</u><br><br><div id="name"><%- movie %></div></h1> 
    <a id="link" href="/returnUserPage">Go Back</a>
    

</body>

</html>
